<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h2 class="hero-unit-heading">Єдиний аналітичний реєстр державних службовців України</h2>
  </div>
  <style>
    p {
      text-indent: 20px; /* Отступ первой строки в пикселах */
    }
  </style>
</header>

<div class="container">
  <div class="row login-form-row">
    <div class="col-xs-10 col-xs-offset-1">
      <form class="form" name="form">
        <div style="font-size: 17px;">
          <ol>

            <li style="padding: 2px">Інструкція користувача порталом(
              <a target="_blank" href="https://ksds.nads.gov.ua/wf/VAADIN/themes/activiti/img/user_instructionNew.pdf"  download>pdf</a>/
              <a target="_blank" href="https://ksds.nads.gov.ua/wf/VAADIN/themes/activiti/img/user_instructionNew.doc" download>doc</a>)
            </li>
            
            <li style="padding: 2px">Нормативні документи(
              <a target="_blank" href="https://ksds.nads.gov.ua/wf/VAADIN/themes/activiti/img/edict.pdf"  download>наказ</a>/
              <a target="_blank" href="https://ksds.nads.gov.ua/wf/VAADIN/themes/activiti/img/instruction.pdf" download>інструкція</a>)
            </li>

            <a target="_blank" href="https://ksds.nads.gov.ua/wf/VAADIN/themes/activiti/img/organNew.xlsx" download>
              <li style="padding: 2px">Перелік державних органів та органів судової влади</li>
            </a>
            <a target="_blank" href="https://ksds.nads.gov.ua/wf/VAADIN/themes/activiti/img/contact_administrator.docx" download>
              <li style="padding: 2px">Контакти адміністраторів порталу</li>
            </a>
          </ol>
        </div>
      </form>
    </div>
  </div>
</div>
