﻿<div ng-include="'components/navbar/navbar.html'" class="navbar-fixed-top"></div>

<div class="container" ng-style="printModalState.show && {'overflow-y':'hidden'}" ng-init="init()">
  <div class="container__in">
    <div class="row">
      <div class="col-xs-5 sidebar">
        <div class="tasks">

          <div class="sort-select" ng-if="sSelectedTask!='tickets' && sSelectedTask!='tickets'">
            <div class="task-list-header">
              <div class="task-list-header-row">
                <div class="task-list-header-cell">
                  <input ng-model="searchTask.orderId" class="task-list-header-search"
                         placeholder="Введіть № звіту для пошуку"
                         size="35" ng-keyup="($event.keyCode === 13)?searchTaskByOrder():0"/>
                </div>
                <div class="task-list-header-cell">
                  <input ng-model="searchTask.text" class="task-list-header-search"
                         placeholder="Введіть текст для пошуку"
                         size="35" ng-keyup="searchTaskByText()"/>
                </div>
                <!--<div class="task-list-header-cell">-->
                <!--<input ng-model="searchTask.text" class="task-list-header-search"-->
                <!--placeholder="Введіть текст для пошуку"-->
                <!--size="35" ng-keyup="($event.keyCode === 13)?searchTaskByText():0"/>-->
                <!--</div>-->
                <div class="task-list-header-cell">
                  Сортувати:
                  <select ng-options="option.value as option.text for option in sortOrderOptions"
                          ng-model="selectedSortOrder.selected"
                          ng-change="selectedSortOrderChanged()">
                  </select>
                  <!--<select>
                    <option onselect="sortorder('createTime',true)">Від найдавніших</option>
                    <option onselect="order('createTime',false)">Від найновіших</option>
                  </select>-->
                </div>
              </div>
            </div>
            <div ng-show="$storage.menuType == 'selfAssigned' || $storage.menuType == 'unassigned'">
              <form class="form-horizontal">

                <!--<div class="form-group">-->
                <!--<label class="col-sm-4 control-label">Фільтр за групою статусів</label>-->
                <!--<div class="col-sm-8">-->
                <!--<select class="form-control input-sm" ng-options="option.name for option in taskDefinitions track by option.id" ng-model="model.taskDefinition" ng-change="taskDefinitionsFilterChange(option)">-->
                <!--</select>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label class="col-sm-4 control-label">Фільтр БП</label>-->
                <!--<div class="col-sm-8">-->
                <!--<span ng-hide="userProcessesLoaded">Завантаження списку...</span>-->
                <!--<select class="form-control input-sm" ng-hide="!userProcessesLoaded" ng-options="option.sName for option in userProcesses track by option.sID" ng-model="model.userProcess" ng-change="userProcessFilterChange()"></select>-->
                <!--</div>-->
                <!--</div>-->

                <div class="form-group" ng-hide="!strictTaskDefinitions.length || model.userProcess.sID == 'all'">
                  <label class="col-sm-4 control-label">Фільтр за статусом</label>
                  <div class="col-sm-8">
                    <select class="form-control input-sm" ng-options="option.name for option in strictTaskDefinitions track by option.id" ng-model="model.strictTaskDefinition" ng-change="strictTaskDefinitionFilterChange(option)"></select>
                  </div>
                </div>
                <!--<button class="btn btn-default btn-xs pull-right" ng-click="resetTaskFilters()">Скинути фільтри</button>-->
                <small ng-hide="!tasks || !filteredTasks">{{ filteredTasks.length }} з {{ tasks.length }} задач.</small>

              </form>
            </div>
          </div>
          <div class="list-group">
            <div ng-if="filteredTasks===null">
              <h3>Завантаження списку...</h3>
            </div>

            <div ng-if="filteredTasks!==null && filteredTasks.length==0">
              <h3>Задач не знайдено</h3>
            </div>

            <div ng-if="filteredTasks!==null  && filteredTasks.length>0">

              <div ng-if="sSelectedTask!='tickets'">
                <a class="list-group-item task {{sSelectedTask}}_{{task.processInstanceId}} {{ sTaskClass(task.taskDefinitionKey) }}" href=""
                   ng-repeat="task in filteredTasks | orderBy:predicate:reverse"
                   tooltip="{{task.description}} (Задача №{{task.id}}, Процесс №{{task.processDefinitionId}})"
                   ng-click="selectTask(task)"
                   ng-class="{'active': isTaskSelected(task)}">
                  <span class="ticket-date-time">{{ task.createTime ? sDateShort(task.createTime) : sDateShort(task.startTime) }}{{ task.endTime ? ' - ' + sDateShort(task.endTime) : '' }}</span>
                  №{{task.processInstanceId}}{{lunaService.getLunaValue(task.processInstanceId)}} {{ getProcessName(task.processDefinitionId)
                  }} | {{ task.name }} | {{getStructureName(task.variables)}}

                </a>
              </div>

            </div>

          </div>
        </div>
      </div>
      <div class="col-xs-7 col-xs-offset-5 main tasks-form">
        <div class="tasks-form-view">
          <h3 ng-show="selectedTask && taskForm == null && !error">Завантаження ...</h3>
          <show-error data="error" ng-show="error"></show-error>
          <div ng-repeat="item in taskForm" class="task-form-property" ng-show="selectedTask">
            <span ng-if="['string', 'long', 'date'].indexOf(item.type) > -1">
                <field-title></field-title>
                <simple-field item="item" ng-disabled="isFormPropertyDisabled(item)"
                              submitted="isTaskSubmitted()"></simple-field>
            </span>
            <textarea-field></textarea-field>
            <user-field></user-field>
            <enum-field></enum-field>
            <file-formfield></file-formfield>

            <span style="display: none;" ng-if="['invisible'].indexOf(item.type) > -1">
              <field-title></field-title>
            </span>

            <span ng-if="['label'].indexOf(item.type) > -1">
              <field-title></field-title>
              <label>{{item.value}}</label>
            </span>

            <span ng-if="['queueData'].indexOf(item.type) > -1">
              <field-title></field-title>
              <label title="{{nID_FlowSlotTicket_FieldQueueData(item.value)}}">{{sDate_FieldQueueData(item.value)}}</label>
            </span>

            <div ng-if="clarify && item.writable">
              <input type="checkbox" ng-model="clarifyFields[item.id].clarify" id="{{item.id}}_clarify"/>
              <label for="{{item.id}}_clarify">Уточнити</label>

              <div ng-if="clarifyFields[item.id].clarify">
                <textarea ng-model="clarifyFields[item.id].text" class="form-control"
                          placeholder="Уточнення для {{item.name}}"></textarea>
              </div>
            </div>
          </div>

          <div ng-show="attachments">
            <p ng-repeat="item in attachments" ng-show="taskFormLoaded">
              Файл: <a href="/api/tasks/{{taskId}}/attachments/{{item.id}}/content/{{($index+1)}}" target="_blank"><b>{{item.name}}</b></a>              {{item.description}}
            </p>
          </div>
        </div>
        <div class="tasks-form-buttons">
          <div ng-if="selectedTask">
            <span ng-if="!clarify">
              <puttowork-button ng-hide="selectedTask.assignee != null"></puttowork-button>

              <submittask-button ng-hide="selectedTask.assignee == null"></submittask-button>
            </span>

            <!--<span>-->
            <!--<button type="button" class="btn btn-success" ng-click="clarifyToggle()" ng-if="!clarify && sSelectedTask=='selfAssigned'">Внести зауваження</button>-->

            <!--<span ng-if="clarify">-->
            <!--<p>-->
            <!--<textarea class="form-control" placeholder="Коментар до зауваження" ng-model="clarifyModel.sBody"></textarea>-->
            <!--</p>-->

            <!--<button type="button" class="btn btn-success" ng-click="clarifySend()">Відправити зауваження</button>-->

            <!--<button type="button" class="btn btn-default" ng-click="clarifyToggle()">Відміна</button>-->
            <!--</span>-->
            <!--</span>-->

            <p></p>

            <div ng-hide="selectedTask.assignee == null || sSelectedTask == 'finished'">
              <button ng-hide="!taskFormLoaded || !selectedTask" ng-click="print()" class="btn btn-success">Роздрукувати звіт
              </button>
            </div>
            <select class="aPatternPrint form-control" ng-options="option.displayTemplate for option in printTemplateList track by option.id" ng-required ng-model="model.printTemplate" ng-hide="printTemplateList.length == 0 || selectedTask.assignee === null || sSelectedTask === 'finished'" >
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<print-dialog></print-dialog>

