<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--a href="https://igov.org.ua" class="navbar-brand">igov.org.ua</a-->
    </div>

    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">

      <ul class="nav navbar-nav">
        <li ng-repeat="menu in menus"
            ng-show="isLoggedIn()"
            ng-class="{active: isTaskFilterActive(menu.type)}">
            <a ng-attr-id="{{menu.type}}" ng-click="applyTaskFilter(menu.type)">{{menu.title}}
            <!--<a ng-if="menu.type!=='finished'" ng-attr-id="{{menu.type}}" ng-click="applyTaskFilter(menu.type)">{{menu.title}}-->
            <span class="label label-info">{{menu.count}}</span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--li><a href="" ng-click="goToServices()">Сервіс</a></li-->
        <li ng-show="isLoggedIn()" ><a ng-attr-id="{{menu.type}}" ng-click="goToReports()">Звіти</a></li>
        <li ng-show="isLoggedIn()" ><a href="" ng-click="goToTasks()">Задачі</a></li>
        <li><a href="" ng-click="goToInstructions()">Інструкція</a></li>
        <!--li><a href="" ng-click="goToEscalations()">Ескалації</a></li-->
        <li ng-show="isLoggedIn()" ><a href="" ng-click="goToTasks()">{{ organ.sNameShort }}</a></li>
        <!--<li><a href="" ng-click="goToTasks()">{{ getCurrentUserName()}}</a></li>-->
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Вийти</a></li>
      </ul>
    </div>
  </div>
</div>
