 <button ng-hide="!taskFormLoaded || selectedTask.assignee == null || sSelectedTask == 'finished'"
                    ng-click="submitTask()"
                    class="btn btn-success"
                    style="width: 140px;"
                    ng-disabled="isTaskSuccessfullySubmitted() || isTaskInProcess()">Ок
</button>
<label ng-show="isTaskInProcess()&& !isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Зачекайте...</label>
<label ng-show="isTaskSuccessfullySubmitted()">&nbsp;&nbsp;Задачу опрацьовано.</label>
