<div class="input-group">
  <input class="form-control"
    ng-disabled="ngDisabled"
    ng-required="item.required"
    ng-model="item.value"
    ng-class="{'submitted':submitted}"
    ng-pattern="getPattern()"
  />

  <span class="form-control-error">{{getErrorMessage()}}</span>

  <span class="input-group-addon"
    ng-if="ngDisabled"
    clip-copy="item.value">
    <i class="glyphicon glyphicon-copy"></i>
  </span>
</div>
